<!DOCTYPE HTML>
<html>
  <head>
    <title>The Best Name Generator</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <h1>Unicorn Name Generator</h1>

    <form action = "/" method = "POST">
      <input type="text" name="first_name_input" value="<%= first_name_input %>">
      <button class="nice-button">Submit</button>
    </form>

    <p>Your name is:<p>
    <strong class="new-name"><%= name %></strong>
  </body>
</html>
