<!DOCTYPE HTML>
<html>
  <head>
    <title>The Best Name Generator</title>
  </head>
  <body>
    <h1>Unicorn Name Generator</h1>
    <p>Your name is:<p>
    <strong><%= name %></strong>
  </body>
</html>
